*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  width: 100%;
  height: 100%;
}

.btn{
  background-color: rgb(14, 178, 200);
  color: wheat;
  border: 1px solid wheat;
  padding: 10px 15px;
  border-radius: 10px;
}

.header{
  margin: 20px;
  color: wheat;
  background-color: purple;
  width: fit-content;
  padding: 20px ;
 

  
}